Hello there,

Someone asked for a password reset for the email address {{ email }}.
Follow the link below:

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

In case you forgot your DanP&Jeck username: {{ user.username }}

If clicking the link above doesn't work, please copy and paste the URL
in a new browser window instead.

If you didn't make this request then someone might be trying to access your account!
You can ignore this message altogether otherwise follow the link provided to 
reset your password.

Thanks,

The DanP&Jeck Team!